<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Test0702_3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>abcd</servlet-name>
		<servlet-class>com.ja.test.Test</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>abcd</servlet-name>
		<url-pattern>/Test.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.ja.test.TestListener</listener-class>
	</listener>

	<filter>
		<filter-name>xxxx</filter-name>
		<filter-class>com.ja.test.TestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>xxxx</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>


</web-app>