<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ja.rubato.freeboard.mapper.FreeboardSQLMapper"><!--class경로 -->

	<!-- RBT_freeboard table -->
	<select id="createFreeboardPK" resultType="int">
		select
		RBT_Freeboard_seq.nextval from Dual
	</select>

	<!-- 동적 쿼리(java에서 처리 대신 myBatis에서 처리하도록 만들기) -->
	<!-- $: ,#:pre comfiling해서 자동으로 ''(문자열연산) 넣어줌 -> #을 쓰는 것을 권장(injection방지) -->
	<select id="getContents" resultType="com.ja.rubato.vo.FreeboardVo"><!-- resultType은 한행에 관한 것을 묻는 것 -->

		select * from (
		select t1.*, ROWNUM as rnum from (
		select * from
		RBT_Freeboard
		<if test="freeboard_search_type != null and freeboard_search_word != null">
			<choose>
				<when test="freeboard_search_type == 'freeboard_title'">
					where freeboard_title like '%' || #{freeboard_search_word}
					|| '%'
				</when>
				<when test="freeboard_search_type == 'freeboard_content'">
					where freeboard_content like '%' ||
					#{freeboard_search_word} ||
					'%'
				</when>
				<when test="freeboard_search_type == 'freeboard_nick'">
					where freeboard_nick like '%' || #{freeboard_search_word}
					|| '%'
				</when>
			</choose>
		</if>
		order by freeboard_no DESC
		) t1
		) t2
	<![CDATA[
	where t2.rnum >= (#{freeboard_page_num}-1)*10+1 
	and t2.rnum <= #{freeboard_page_num} * 10
	]]>

	</select>

	<select id="getContentCount" resultType="int">
		select count(*) from RBT_Freeboard 
		<if test="freeboard_search_type != null and freeboard_search_word != null">
			<choose>
				<when test="freeboard_search_type == 'freeboard_title'">
					where freeboard_title like '%' || #{freeboard_search_word}
					|| '%'
				</when>
				<when test="freeboard_search_type == 'freeboard_content'">
					where freeboard_content like '%' ||
					#{freeboard_search_word} ||
					'%'
				</when>
				<when test="freeboard_search_type == 'freeboard_nick'">
					where freeboard_nick like '%' || #{freeboard_search_word}
					|| '%'
				</when>
			</choose>
		</if>
	</select>


	<select id="getContentByNo"
		resultType="com.ja.rubato.vo.FreeboardVo">
		select * from RBT_Freeboard where freeboard_no = #{freeboard_no}
	</select>


	<!-- 글작성 -->
	<insert id="writeContent">
		insert into RBT_Freeboard values(
		#{freeboard_no},
		#{freeboard_nick},
		#{freeboard_pw},
		#{freeboard_title},
		#{freeboard_content},
		0,
		SYSDATE,
		0
		)
	</insert>

	<delete id="deleteContent">
		delete from RBT_Freeboard where freeboard_no =
		#{freeboard_no}
	</delete>

	<!-- RBT_FreeboardImage table -->
	<insert id="registerImage">
		insert into RBT_FreeboardImage values(
		RBT_FreeboardImage_seq.nextval,
		#{freeboard_no},
		#{freeboard_image_url},
		#{freeboard_image_ori}
		)
	</insert>

	<update id="increaseReadCount">
		update RBT_Freeboard set freeboard_readcount =
		freeboard_readcount
		+ 1 where freeboard_no = #{freeboard_no}
	</update>

	<select id="getImageInfoByBoardNo"
		resultType="com.ja.rubato.vo.FreeboardImageVo">
		select * from RBT_FreeboardImage
		where freeboard_no =
		#{freeboard_no}
		order by freeboard_image_no ASC
	</select>

	<select id="getCommentInfoByBoardNo"
		resultType="com.ja.rubato.vo.FreeboardCommentVo">
		select * from RBT_FreeboardComment
		where freeboard_no =
		#{freeboard_no}
	</select>

	<update id="upRecommend">
		update RBT_Freeboard set freeboard_recommendcount =
		freeboard_recommendcount + 1
		where freeboard_no = #{freeboard_no}
	</update>

	<insert id="writeComment">
		insert into RBT_FreeboardComment values(
		RBT_FreeboardComment_seq.nextval,
		#{freeboard_nick},
		#{freeboard_comment_pw},
		#{freeboard_no},
		#{freeboard_comment_content},
		SYSDATE
		)
	</insert>

	<delete id="deleteComment">
		delete from RBT_FreeboardComment
		where
		freeboard_comment_no = #{freeboard_comment_no}
		and freeboard_no =
		#{freeboard_no}
	</delete>

	<update id="updateComment">
		update RBT_FreeboardComment
		set
		freeboard_comment_content = #{freeboard_comment_content}
		where
		freeboard_comment_pw = #{freeboard_comment_pw}
		and freeboard_comment_no = #{freeboard_comment_no}
		and freeboard_no = #{freeboard_no}
	</update>
	
	<update id="updateContent">
		update RBT_Freeboard set freeboard_title = #{freeboard_title},
		freeboard_content = #{freeboard_content} where freeboard_no = #{freeboard_no}
	</update>
	


</mapper>