*{
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    margin: auto;
}

/*========================*/
header {
    background-color: green;
    padding:20px;
    text-align: center;
    font-size: 30px;
    color:white;
}

/*========================*/
section{
    overflow:hidden;
    width: 900px;
}

nav{
    float:left;
    width: 300px;
    height: 300px;
    background-color: greenyellow;
    padding:20px;
}
nav ul{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}
nav li{
    padding: 5px;
    margin: 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: gold;
}
li:active{
    background-color: goldenrod;
}

article{
    float: left;
    padding: 20px;
    width: 600px;
    background-color: white;
    height: 300px;
}

/*========================*/
/*section::after{
    content: "";
    display: table;
    clear: both;
}*/
footer{
    clear: both;
    background-color: green;
    padding:10px;
    text-align: center;
    color: white;
}

/*========================*/